www.luxuriabahrain.com {
    redir https://luxuriabahrain.com{uri} permanent
}



luxuriabahrain.com {
    root * /srv/web
    encode gzip
    file_server
    try_files {path} /index.html

    log {
		level ERROR
        format console
    }
}

